HOMEPAGE_ALLOWED_HOSTS=<your-machine-name>.<your-ts-id>.ts.net:3000,<your-machine-name>:3000,localhost:3000
EXTERNAL_STORAGE=
LOCATION=

# Jellyfin
HOMEPAGE_VAR_JELLYFIN_URL=https://flix.<your-ts-id>.ts.net
HOMEPAGE_VAR_JELLYFIN_API_KEY=

# Jellyseerr
HOMEPAGE_VAR_JELLYSEERR_URL=https://jellyseerr.<your-ts-id>.ts.net

# Bazarr
HOMEPAGE_VAR_BAZARR_URL=https://bazarr.<your-ts-id>.ts.net

# Radarr
HOMEPAGE_VAR_RADARR_URL=https://radarr.<your-ts-id>.ts.net
HOMEPAGE_VAR_RADARR_API_KEY=

# Sonarr
HOMEPAGE_VAR_SONARR_URL=https://sonarr.<your-ts-id>.ts.net
HOMEPAGE_VAR_SONARR_API_KEY=

# Prowlarr
HOMEPAGE_VAR_PROWLARR_URL=https://prowlarr.<your-ts-id>.ts.net

# qBittorrent
HOMEPAGE_VAR_QBITTORRENT_URL=https://qbittorrent.<your-ts-id>.ts.net
HOMEPAGE_VAR_QBITTORRENT_USERNAME=
HOMEPAGE_VAR_QBITTORRENT_PASSWORD=

# Immich
HOMEPAGE_VAR_IMMICH_URL=https://pics.<your-ts-id>.ts.net
HOMEPAGE_VAR_IMMICH_API_KEY=

# Seafile
HOMEPAGE_VAR_SEAFILE_URL=https://drive.<your-ts-id>.ts.net
HOMEPAGE_VAR_SEAFILE_API_KEY=

# Tailscale
HOMEPAGE_VAR_TAILSCALE_DEVICE_ID=
HOMEPAGE_VAR_TAILSCALE_API_KEY=