# Misc Config
PUID=1000
PGID=1000
TZ=Europe/Rome

# Folders Config - Data folder structure should be DATA_DIR/MEDIA_FOLDER and DATA_DIR/TORRENTS_FOLDER
CONFIG_DIR=/path/to/config/dir
DATA_DIR=/path/to/data/dir
MEDIA_FOLDER=media_folder
TORRENTS_FOLDER=torrents_folder