{
	acme_dns cloudflare {$CF_API_TOKEN}
}

home.{$DOMAIN}, http://home.{$TS_DOMAIN} {
	reverse_proxy homepage:3000
}

flix.{$DOMAIN}, http://flix.{$TS_DOMAIN} {
	reverse_proxy jellyfin:8096
}

jellyseerr.{$DOMAIN}, http://jellyseerr.{$TS_DOMAIN} {
	reverse_proxy jellyseerr:5055
}

bazarr.{$DOMAIN}, http://bazarr.{$TS_DOMAIN} {
	reverse_proxy bazarr:6767
}

radarr.{$DOMAIN}, http://radarr.{$TS_DOMAIN} {
	reverse_proxy radarr:7878
}

sonarr.{$DOMAIN}, http://sonarr.{$TS_DOMAIN} {
	reverse_proxy sonarr:8989
}

prowlarr.{$DOMAIN}, http://prowlarr.{$TS_DOMAIN} {
	reverse_proxy prowlarr:9696
}

qbittorrent.{$DOMAIN}, http://qbittorrent.{$TS_DOMAIN} {
	reverse_proxy torrent-client:8080
}

pics.{$DOMAIN}, http://pics.{$TS_DOMAIN} {
	reverse_proxy immich_server:2283
}

drive.{$DOMAIN}, http://drive.{$TS_DOMAIN} {
	@collabora {
		path /browser/* /cool/* /hosting/*
	}
	reverse_proxy @collabora seafile-collabora:9980 {
		header_down -Content-Security-Policy
		header_up X-Forwarded-Proto https
	}

	redir /seafdav /seafdav/ 308

	handle /seafdav* {
		reverse_proxy seafile:8086
	}

	reverse_proxy seafile:80 {
		header_up X-Forwarded-Proto https
	}
}